body{
	font-family: 'Roboto', sans-serif;
}

#preloader{
	position: fixed;
	background: #f6eee2;
	color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
}

#status{
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: #F9C733;
	width: 90%;
	height: 100%;
	position: absolute;
	background: url(../images/preloader.jpg) center no-repeat;
	justify-content: center;
}

#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 200px 0 0px 410px;
}

#second-title{
	font-family: 'Caveat', cursive;
}

.cubiertos{
	width: 200px;
	height: 200px;
}

.second-screen{
	background: #f6eee2;
	color: #F9C733;
	text-align: center;
}


.map{
	background: #f6eee2;
}

@media screen and (max-width: 900px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 100px 10px 10px 250px;
}
.map{
	background: #f6eee2;
}
}

.food-around{
	font-family: 'Caveat', cursive;
	margin: 20px;
}

.search{
	font-family: 'Caveat', cursive;
}

@media screen and (max-width: 600px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 100px 0 0 110px;
}
}

@media screen and (max-width: 360px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 200px 0 0 60px;
}
}