* {
    box-sizing: border-box;
}
/*
Estilo general
*/
body {
    background-color: #1E1E1E;
    padding: 20px;
    font-family: 'Caveat', cursive;
}

/*
Estilos del h1
*/
h1 {
    font-size: 40px;
    word-break: break-all;
}

/* 
*Enmarca las fotos con un cuadro blanco 
*/
.content {
    background-color: white;
    padding: 10px;
}

/*
*Hover manual para los botones
*/
.btn:hover, .active {
  background-color: #ddd;
}

/*
*Pantalla de espera
*/
#preloader{
	position: absolute;
	background: #1E1E1E;
	color: #FF7100;
	width: 100%;
	height: 100%;
	display: flex;
	margin-right: 50px;
}


/*
*Letra dentro de la pantalla de espera
*/
#status{
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: #F9C733;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-right: 50px;
}

/*
*Posicionamiento del titulo
*/
#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 200px 0 0px 410px;
}


/*
*Posicionamiento del titulo de la segunda pantalla
*/
#second-title{
	font-family: 'Caveat', cursive;
}

/*
*Imagen de los cubiertos, bajo el titulo
*/
.cubiertos{
	width: 200px;
	height: 200px;
}


/*
*Estilos de la segunda pantalla
*/
.second-screen{
	background: #1E1E1E;
	color: #FF7100;
	text-align: center;
}



/*
*Fondo del mapa
*/
.map{
	background: #f6eee2;
	margin-right: 20px;
}


/*
*Row que no corresponde a las de bootstrap
*/
.row {
    margin: 10px -16px;
}

/*
*Agrega padding entre una columna y otra
*/
.row,
.row > .column {
  padding: 8px;
}

/*
*Estilos para los botones
*/
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/*
*Limpia el float entre cada columna
*/
.food-images:after {
  content: "";
  display: table;
  clear: both;
}

/* Creo tres columnas que flotan una al lado de la otra */
.column {
  float: left;
  width: 33.33%;
  display: none;
}

/* la clase show se agrega a los elementos filtrados */
.show {
    display: block;
}

/*
*Se agrega un hover al pasar el mouse
*/
.btn:hover, .active {
  background-color: #ddd;
}

/*
*Pantallas hasta los 900px
*/
@media screen and (max-width: 900px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 100px 10px 10px 250px;
}
.map{
	background: #f6eee2;
}
}

/*
*Pantallas hasta los 600px
*/
@media screen and (max-width: 600px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 100px 0 0 110px;
}
}

/*
*Pantallas hasta los 512px
*/
@media screen and (max-width: 512px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 200px 0 0 60px;
}

}

/*
*Pantallas hasta los 320px
*/
@media screen and (max-width: 320px){
	#title{
	position: absolute;
	display: block;
	z-index: 1;
	margin: 200px 0 0 60px;
}

.map{
	background: #f6eee2;
	margin-right:50px;
}
}